body {
    background: #fff29b;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
}
h1 {
    color: rgb(23, 36, 36);
    text-align: center;
    background-color: darkblue;
}

.projects {     
    display:flex; 
    flex-wrap:wrap;  
 }
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(95, 5, 5);
    border-radius: 25%;
}